body{ 
    
    font-family: "Raleway", "Helvetica Neue", Arial;
}

#bloc_page{
    margin-left: 20px;
}

header{
    
    display: flex;
    justify-content: space-between;
}

nav ul{
    
    list-style-type: none;
    display: flex;
}

nav li{
    
    font-size: 12px;
    margin-right: 35px;
}

nav a{
    
    color: black;
    text-decoration: none;
}

nav a:hover{
    
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

#inscription{
    color: #0065FC;
    font-weight: 1000;
}

#search{
    
    margin-top: 20px;
}

#find{
    
    font-weight: 1000;
}

#search p, .fas.fa-map-marker-alt{
    
    font-size: 12px;
}

.search_button{
    
    display: flex;
}


.fas.fa-map-marker-alt, .fas.fa-map-marker-alt.circle{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fas.fa-map-marker-alt.circle{
    
    border: solid 4.6px #F2F2F2;
    border-radius: 30% 0% 0% 30%;
    background-color: #F2F2F2;
    margin-right: -5px;
    width: 35px;
    height: 25px;
}

input{
    
    border: solid 1px #F2F2F2;
    height: 30.5px;
    width: 150px;
}

button{
    
    background-color: #0065FC;
    border-radius: 0% 10px 10px 0%;
    border: solid 1px #0065FC;
    color: white;
    font-weight: 1000;
    font-size: 12px;
    height: 34.5px
}

.information{
    
    display: flex;
    align-items: center;
}


.fas.fa-info.circle {
    
    height: 10px;
    width: 10px;
    min-height: 20px;
    min-width: 20px;
    border: solid 1px #F2F2F2;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    margin-right: 8px;
    font-size: 10px;
}

.filter{
    
    display: flex;
    width: 700px;
    height: 30px;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
}

.filter p{
    
    font-weight: 1000;
    
}

.filter h5{
	margin-right: 20px;
}

.fas.fa-money-bill-wave, .fas.fa-child, .fas.fa-heart, .fas.fa-dog{
    
    font-size: 12px;
    color: #0065FC;
    margin-right: -20px;
}

.fas.fa-money-bill-wave.circle, .fas.fa-child.circle, .fas.fa-heart.circle, .fas.fa-dog.circle{
    
    border: solid 10px #DEEBFF;
    border-radius: 100%;
    background-color: #DEEBFF;
    display: flex;
	justify-content: center;
    margin-left: -3px;
    height: 10px;
    width: 10px;
}

.search_filter{

    display: flex;
    align-items: center;
    width: auto;
    margin-right: 32px;
    border: 2px solid #d9d9d9;
    border-radius: 32px;
    font-weight: bold;
}

.title_filter{
	
	margin-right: 10px;
	margin-left: 25px;
	font-size: 12px;
}

.activity{
    display: flex;
    margin-bottom: 50px;
}

.container{
    
    width: 250px;
    height: 340px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 15px 15px 15px 15px;
    margin-right: 30px;
}

.container_img{
    
    position: relative;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px; 
}

.half_container{
    
    width: 250px;
    height: 120px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 15px 15px 15px 15px;
    margin-right: 30px;
    margin-bottom: 60px;
}

.half_container_img{
    
    position: relative;
    width: 250px;
    height: 120px;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px; 
}

.container_frioul_img{
    
    position: relative;
    width: 250px;
    height: 90px;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
    margin-top: 90px;
}

.container_pomegues_img{
    
    position: relative;
    width: 250px;
    height: 140px;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
}

.container_pomegues_img img{
    
    position: absolute;
    top: -80%;
}


.container_frioul_img img{
    position: absolute;
    top: -20%;
}

.container_img img{
    
    position: absolute;
    left: -50%;
    top: 0%;
}

.activityDescription{
    
    width: 250px;
    height: 40px;
    background-color: white;
    margin-top: -12px;
    border-radius: 0px 0px 15px 15px; 
    font-weight: 1000;
}

.activityDescription p{
    
    padding: 5%;
}

footer{
    
    display: flex;
    background-color: #F2F2F2;
    margin-left: -40px;
    margin-right: -10px;
}

footer p{
    font-size: 12px;
}

footer h3{
    font-size: 15px;
}

#about, #accomodation, #assistance{
    margin-right: 150px;
    margin-left: 40px;
}
