body{ 
    
    font-family: "Open sans", "Helvetica Neue", Arial;
}

#bloc_page{
    margin-left: 20px;
}

header{
    
    display: flex;
    justify-content: space-between;
}

nav ul{
    
    list-style-type: none;
    display: flex;
}

nav li{
    
    font-size: 12px;
    margin-right: 35px;
}

nav a{
    
    color: black;
    text-decoration: none;
}

nav a:hover{
    
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

#inscription{
    color: #0065FC;
    font-weight: 1000;
}

#search{
    
    margin-top: 20px;
}

#find{
    
    font-weight: 1000;
}

#search p{
    
    font-size: 12px;
}

#search i{
    
    color: #0065FC;
    margin-right: 8px;
    font-size: 10px;  
}

.information{
    display: flex;
    align-items: center;
}

.fas.fa-info.circle {
    
    height: 10px;
    width: 10px;
    min-height: 20px;
    min-width: 20px;;
    border: solid 1px #F2F2F2;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1px;
}

footer{
    
    display: flex;
    background-color: #F2F2F2;
    margin-left: -40px;
    margin-right: -10px;
}

footer p{
    font-size: 12px;
}

footer h3{
    font-size: 15px;
}

#about, #accomodation, #assistance{
    margin-right: 150px;
    margin-left: 40px;
}
